@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    <b>Alexei Saveliev</b><br />
    Sr Manager, Quality Assurance<br />
    1002 Cornerstone Blvd<br />
    Downingtown, Pennsylvania 19335<br />
    <abbr title="Phone">P:</abbr>
    (484)364-4067
</address>

<address>
    <span><icon class="glyphicon glyphicon-envelope fa-4x"></icon></span>  <a href="mailto:
TQM_Video_Platforms@cable.comcast.com">TQM_Video_Platforms@cable.comcast.com</a><br />
    <span><icon class="glyphicon glyphicon-envelope fa-4x"></icon></span>  <a href="mailto:
Alexei_Saveliev2@cable.comcast.com">Alexei_Saveliev2@cable.comcast.com</a><br />
    
</address>

