@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1002 Cornerstone Blvd<br />
    Downingtown, Pennsylvania 19335<br />
    <abbr title="Phone">P:</abbr>
    (484)593-0191
</address>

<address>
    <span><icon class="glyphicon glyphicon-envelope fa-4x"></icon></span>  <a href="mailto:
TQM_Video_Platforms@cable.comcast.com">TQM_Video_Platforms@cable.comcast.com</a><br />
</address>

<div>

    <button type="button" class="btn btn-primary" onclick="location.href = 'https://intake.cable.comcast.com/secure/CreateIssue.jspa?pid=10000&issuetype=28'">Open Test Request</button>
</div>