@{
    ViewBag.Title = "Home Page";
}
<style>
    .row {
        margin-top: 15px;
    }

    .testEnvironment ul {
        padding-left: 15px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h4 class="text-primary">Charter</h4>
        <p>
            The <strong>VECTOR (Video Engineering Certification Tooling Operations & Reporting)</strong> team provides Quality Assurance testing of new products in support of core video head-end controllers, video head-end infrastructure, linear edge devices and video encoders, early integration services such as vendor management support (VIOT), video platform maintenance (BAU) and video quality/monitoring testing for the following workstreams:
        </p><div class="col-md-5">
            <ul>
                <li>Arris platform</li>
                <li>Cisco Platform</li>
                <li>Linear eQAMs</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>Video processors (encoders/receivers, ad splicers)</li>
                <li>Video quality and monitoring services</li>
                <li>Hospitality solutions</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10" style="text-align:center;"><h4 class="text-primary">QA/Integration Performed</h4></div>
    <div class="col-md-5">

        <ul>
            <li>Installation/upgrade/rollback/deployment</li>
            <li>Operational, monitoring, alarming</li>
            <li>N++ and POC Lab environments buildout and maintenance</li>
            <li>Integration support to Devices and Streaming Services teams</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li>Feature functional/regression</li>
            <li>Failover, negative, destructive, security, VQ, Performance, load, longevity</li>
            <li>Project Management  support for N++ and POC lab builds</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4 class="text-primary">Test Environments</h4>
        <div class="table-responsive">
            <table class="table table-bordered testEnvironment">
                <thead>
                    <tr class="success">
                        <th>Workstream</th>
                        <th>Arris Platform</th>
                        <th>Cisco Platform</th>
                        <th>Linear eQAMs</th>
                        <th>Video Encoders/Receivers</th>

                        <th>Video quality and monitoring services</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="warning">ULA</th>
                        <td>
                            <ul>
                                <li>4 DACs</li>
                                <li>7 plants</li>
                                <li>4 CASMR controllers</li>
                                <li>1 CAST</li>
                                <li>1 DLG</li>
                                <li>4 BSTs</li>
                                <li>2 VDPs</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>1 DNCS</li>
                                <li>3 EC's w/5 plants</li>
                                <li>2 ECSs</li>
                                <li>4 DTACS</li>
                                <li>1 BOA</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Apex-1000</li>
                                <li>SEM</li>
                                <li>NSG/NSG Pro</li>
                                <li>GQAM</li>
                                <li>RFGW1</li>
                                <li>Q2Q</li>
                                <li>MDTA</li>
                                <li>Q2IP</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>6 - Harmonic Encoders & MUXs</li>
                                <li>1 - CAP 1000</li>
                                <li>1 – DM 6400</li>
                                <li>5 PEG encoders</li>
                                <li>3 Weather Channel receivers (Jr, HD, xD)</li>
                                <li>4 Off-air channel receivers (Sencore, Ktech, Tandberg, Harmonic)</li>
                                <li>2 Transcoders VIPr, Hydra (VM)(Arris)</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>9  Vendors’ Analyzers and Probes(IP & RF based)</li>
                                <li>23 Video & Audio Analyzers/Probes</li>
                                <li>LVV (Linear Video View)</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="warning">Production</th>
                        <td><ul><li>1 DAC w/1 Plant</li></ul></td>
                        <td>
                            <ul>
                                <li>1 EC</li>
                                <li>1 DNCS w/2 plants</li>
                                <li>2 DTACS</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>GQAM</li>
                                <li>NSG</li>
                                <li>40G</li>
                            </ul>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
