
@{
    ViewBag.Title = "Innovation";
}

<h2>Innovation</h2>
<div class="row">
    <img src="~/Content/Images/idea.jpg" alt="idea" style="height:50px;width:55px" />
    <span style="font-family:monospace"><b>Innovation Ideas</b></span>
</div>


