
@{
    ViewBag.Title = "TeamProfile";
}

<style>
    .profile-box {
        height: 200px;
        width: 200px;
        background-color: #eeeeee;
        border-color: #e7e7e7;
        padding: 10px 0px 15px 15px;
        border-radius: 8px;
        /*box-shadow: 0px 7px 15px 0px #888888;*/
        margin-bottom: 25px;
        cursor: pointer;
    }

    .circluar-image {
        width: 100px;
        height: 100px;
        border: 4px solid #fff;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    h4 {
        text-align: center;
    }

    .span {
        text-align: center;
    }
</style>
<h2> Team Profile </h2>
<div class="container">
    <div class="table-responsive" style="padding-top:15px;">
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href='https://www.comcastnow.com/profile/33527'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_ASAVEL00);background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Alexei Saveliev</h4>
                    </div>
                    <div class="row span">
                        <span>Sr Manager <br> Quality Assurance </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/83074'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Rajapandian Bose</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/349477'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Auniket Chakravorty</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/82771'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Sampathkumar Kuppusamy</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/32372'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=Cable_AJurka000);background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Atis Jurka</h4>
                    </div>
                    <div class="row span">
                        <span>Principal Engineer, Quality Assurance</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/81552'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Lingasamy Kandasamy</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/87313'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Robert Kelly</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/81580'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Puneet Kulshrestha</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/30707'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_MLIPCZ000);background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Michael Lipczynski</h4>
                    </div>
                    <div class="row span">
                        <span>Principle Engineer <br />Quality Assurance</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/86508'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Kalpana Mali</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/92753'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Vignesh Palanisamy</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/368873'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Vivek Pola</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/372165'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Rahul Prasad</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/80122'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Pragnesh Rabari</h4>
                    </div>
                    <div class="row span">
                        <span>Senior QA Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/197921'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Dave Reiff</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/84951'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Baljinder Singh</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/86919'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Nishant Sirohi</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/85872'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>William Girtain</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/10708'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>George Smith</h4>
                    </div>
                    <div class="row span">
                        <span>Eng 5, Network Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/93942'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Vishnu Subramanian</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/46923'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=Cable_dstech200);background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Don Stecher</h4>
                    </div>
                    <div class="row span">
                        <span>Technical Project Mgr 4, Project Mgmt</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/349478'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Durgalakshmi Sundararaman</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/90872'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Pradeepkumar Thankappan</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/310061'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Raj Vaishnavi</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/118063'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>
                            Sundaravadivelu
                            &nbsp&nbsp&nbsp vajravelu
                        </h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/90232'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Deepak Gurung</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/90612'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Keith Houser</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="profile-box" onclick="location.href = 'https://www.comcastnow.com/profile/91773'">
                    <div class="row">
                        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url('../../Content/Images/defaultProfile.png');background-size:100px 100px;background-repeat:no-repeat; "></div>
                    </div>
                    <div class="row">
                        <h4>Suganya Jagadeesan</h4>
                    </div>
                    <div class="row span">
                        <span>Contractor</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

